.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
  }
  
  .navbar h1 {
    margin: 0;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
  }
  